# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Git
.git/
.gitignore

# Databases
*.db
*.db-wal
*.db-shm

# Vector DB storage
qdrant_storage/
storage/

# Node / misc
node_modules/

# IDE
.vscode/

# Data files (optional if large)
data/

# OS
.DS_Store
Thumbs.db
